# Exploratory Analysis

Load in data

In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle("fp_data.pkl")
df.head()

,rank_adp,player,pos,espn,rtsports,mfl,fantrax,ffc,sleeper,avg_adp,year,rank_scoring,team,points,games,avg_scoring
1,2,Adrian Peterson,RB,NaN,2.0,2.0,2.0,1.0,NaN,1.8,2015.0,29.0,MIN,246.9,15.0,16.5
2,3,Antonio Brown,WR,NaN,4.0,5.0,4.0,2.0,NaN,3.8,2015.0,3.0,PIT,346.5,15.0,23.1
4,5,Eddie Lacy,RB,NaN,3.0,4.0,5.0,4.0,NaN,4.0,2015.0,135.0,GB,134.5,14.0,9.6
6,7,Julio Jones,WR,NaN,7.0,9.0,9.0,6.0,NaN,7.8,2015.0,2.0,ATL,351.2,15.0,23.4
7,8,Dez Bryant,WR,NaN,10.0,8.0,7.0,7.0,NaN,8.0,2015.0,240.0,DAL,89.1,9.0,9.9

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1473 entries, 1 to 3813
Data columns (total 16 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rank_adp      1473 non-null   int64
 1   player        1473 non-null   object
 2   pos           1473 non-null   object
 3   espn          952 non-null    float64
 4   rtsports      1056 non-null   float64
 5   mfl           1190 non-null   float64
 6   fantrax       1415 non-null   float64
 7   ffc           1129 non-null   float64
 8   sleeper       203 non-null    float64
 9   avg_adp       1473 non-null   float64
 10  year          1473 non-null   float64
 11  rank_scoring  1473 non-null   float64
 12  team          1473 non-null   object
 13  points        1473 non-null   float64
 14  games         1473 non-null   float64
 15  avg_scoring   1473 non-null   float64
dtypes: float64(12), int64(1), object(3)
memory usage: 195.6+ KB

Check VIF

In [3]:
from statsmodels.stats.outliers_influence import variance_inflation_factor

In [7]:
# X = df[["rank_adp", "espn", "rtsports", "mfl", "fantrax", "ffc", "sleeper"]]
X = df[["rank_adp", "avg_adp"]]

In [8]:
vif_data = pd.DataFrame()
vif_data["feature"] = X.columns
vif_data["VIF"] = [variance_inflation_factor(X.values, i) for i in range(len(X.columns))]

vif_data

    feature        VIF
0  rank_adp  83.202646
1   avg_adp  83.202646